name: PR Testing

on:
  pull_request: {}
  push:
    branches:
      - main

# minimal permissions
permissions:
  contents: read

jobs:
  pr-testing:
    name: PR Testing
    strategy:
      fail-fast: false
      matrix:
        version: ['17',]
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: setup java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.version }}
      - name: Install Clojure tools
        uses: DeLaGuardo/setup-clojure@13.4
        with:
          cli: latest              # Clojure CLI based on tools.deps
          lein: latest                  # Leiningen
          boot: latest                  # Boot.clj
          bb: latest                    # Babashka
          clj-kondo: latest        # Clj-kondo
          cljstyle: latest             # cljstyle
          zprint: latest                # zprint
      - name: kondo lint
        run: clj-kondo --lint src test
      - name: eastwood lint
        run: |
          java -version
          lein eastwood
      - name: clojure tests
        run: lein test
        timeout-minutes: 30

  tests:
    needs:
      - pr-testing
    runs-on: ubuntu-24.04
    name: Test suite
    steps:
      - run: echo Test suite completed
